* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header {
  padding: 10px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 100px;
  height: 50px;
}
.header__nav-list{
  display: flex;
}