:root {
    --main-pink: #A27F82;
    --dark-gray: #56565E;
    --light-gray: #D3C9C9;
    --peach-pink: #E3A4A4;
    --light-pink: #FEF4F6;
}


#open-bar5,
#order-open-bar5,
#marketing-open-bar5,
#sale-open-bar5,
#line-open-bar5 {
    display: none;
}

/* 導覽列底色 */
.seller-nav5 {
    background-color: var(--dark-gray);
    /* position: absolute; */
    /* width: 230px; */
    top: 0;
    left: -100%;
    transition: 0.4s;
    height: 100vh;
}

.logo5 {
    display: flex;
    margin: 10px;
    padding-top: 10px;
}

.logo5 p {
    color: white;
    margin-left: 2px;
}

.seller-front-page5,
.seller-main-function5 {
    display: flex;
    margin: 40px 15px;
}

.seller-front-page5 a {
    text-decoration: none;
    color: white;
    opacity: 50%;
}

.seller-main-function5 label {
    width: 184px;
}

/* 主題顏色 */
.seller-front-page5 i,
.seller-main-function5 i,
.seller-main-function5 h2 {
    color: white;
    opacity: 50%;
}

.seller-front-page5 i,
.seller-main-function5 i {
    padding-right: 10px;
}

/* 子層設定 */
.seller-item5 {
    position: absolute;
    top: 0;
    width: 40%;
    right: 0;
    transition: 0.5s;
    opacity: 0;
    display: none;
}

.seller-item5 li {
    padding-bottom: 30px;
    padding-left: 10px;
}

.logo5 {
    display: flex;
    margin: 10px;
    align-items: center;
    padding-top: 10px;
}

.logo5 img {
    width: 30px;
}

.phone-header-icon5 {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* 子層飛出來 */
#open-bar5:checked~.seller-nav5 .seller-main-function5 .label-open-bar5>ul,
#marketing-open-bar5:checked~.seller-nav5 .seller-main-function5 .label-marketing-open-bar5>ul,
#order-open-bar5:checked~.seller-nav5 .seller-main-function5 .label-order-open-bar5>ul,
#sale-open-bar5:checked~.seller-nav5 .seller-main-function5 .label-sale-open-bar5>ul,
#line-open-bar5:checked~.seller-nav5 .seller-main-function5 .label-data-open-bar5>ul {
    display: block;
    background-color: black;
    color: white;
    width: 198px;
    height: 100vh;
    opacity: 100%;
}


/* 主層消失 */
#open-bar5:checked~.seller-nav5 .seller-main-function5 h2,
#order-open-bar5:checked~.seller-nav5 .seller-main-function5 h2,
#marketing-open-bar5:checked~.seller-nav5 .seller-main-function5 h2,
#sale-open-bar5:checked~.seller-nav5 .seller-main-function5 h2,
#line-open-bar5:checked~.seller-nav5 .seller-main-function5 h2 {
    display: none;
}

/* 子層icon消失 */
#open-bar5:checked~.seller-nav5 .seller-main-function5 .icon5,
#order-open-bar5:checked~.seller-nav5 .seller-main-function5 .icon5,
#marketing-open-bar5:checked~.seller-nav5 .seller-main-function5 .icon5,
#sale-open-bar5:checked~.seller-nav5 .seller-main-function5 .icon5,
#line-open-bar5:checked~.seller-nav5 .seller-main-function5 .icon5 {
    display: none;
}

#phone-menu-control5 {
    display: none;
}

.HB5 {
    width: 40px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s;
    position: absolute;
    top: 20px;
    left: 20px;
}

.HB5 span {
    width: 40%;
    height: 3px;
    background-color: black;

}

.phone-header-icon5 i {
    font-size: 25px;
    margin: 0 15px;
}

/* 按漢堡彈出nav */
#phone-menu-control5:checked~.container .seller-nav5 {
    display: block;
    left: 0;
    height: 100vh;
}

/* 當nav彈出漢堡一起往右移 */
#phone-menu-control5:checked~.container .HB5 {
    position: absolute;
    left: 250px;
}

.label-open-bar5,
.label-order-open-bar5,
.label-marketing-open-bar5,
.label-sale-open-bar5,
.label-data-open-bar5 {
    display: flex;
}

/* 打開子層的icon */
.label-marketing-open-bar5 i {
    margin-left: 95px;
    transform: rotate(90deg);
}

/* 主層icon */
.label-open-bar5 i,
.label-order-open-bar5 i,
.label-sale-open-bar5 i,
.label-data-open-bar5 i {
    margin-left: 91px;
    transform: rotate(90deg);
}

/* 子層叉叉 */
.seller-item5 i {
    margin-left: 172px;
    margin-top: 10px;
    font-size: 20px;
}

/* 按叉叉關掉子層 */
/* 待修改 */
/* #open-bar5:checked~.seller-nav5 .seller-main-function5 .seller-item5,
        #order-open-bar5~.seller-nav5 .seller-main-function5 .seller-item5,
        #marketing-open-bar5~.seller-nav5 .seller-main-function5 .seller-item5,
        #sale-open-bar5~.seller-nav5 .seller-main-function5 .seller-item5,
        #line-open-bar5~.seller-nav5 .seller-main-function5 .seller-item5 {
            position: absolute;
            top: 0;
            width: 40%;
            right: 0;
            transition: 0.5s;
            opacity: 0;
            display: none;
        } */



@media screen and (min-width:768px) {
    .seller-nav5 {
        display: block;
        top: 0;
        left: 0;
        transition: 0s;
    }

    /* .phone-header-icon5 {
                display: none;
            } */

    .HB5 {
        display: none;
    }
}