:root {
  --main-pink: #A27F82;
  --dark-gray: #56565E;
  --light-gray: #D3C9C9;
  --peach-pink: #E3A4A4;
  --light-pink: #FEF4F6;
}

.side-menu {
  display: none;
}

.required::after {
  content: '*';
  color: red;
}

@media screen and (min-width:1200px) {
.main-header .hamburger {
    display: none;
  }

.main-header {
    justify-content: end;
  }

.main-header .searchbar {
    width: 35%;
  }

.main-header .searchbar .search-wrap {
    display: flex;
    width: 100%;

  }

.main-header .icons {
    padding: 10px;
  }


}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

body {
  background-color: #F7F7F8;
}

.shop-manager-wrapper {
  display: flex;
}

/* header */
.main-header {
  background-color: var(--peach-pink);
  padding: 7px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-header .checkbox {
  opacity: 0;
  display: none;
}

#search-control:checked~.searchbar {
  top: 0;
  transition: .5s;
}

#close-search:checked~.searchbar {
  top: -50px;
  transition: .5s;
}

.main-header .searchbar {
  width: 100%;
  position: absolute;
  padding: 7px;
  background-color: var(--peach-pink);
  top: -50px;
  /* top: 0; */
  right: 0;
}

.main-header .searchbar .btn-close {
  border-radius: 0.375rem;
}

.main-header .searchbar button {
  border: 1px solid #ced4da;
}

.main-header .searchbar .form-control {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.main-header .hamburger {
  padding: 10px;
}

.main-header .icons .icon {
  margin-left: 26px;
}

.main-header .icon,
.main-header .icon a {
  font-size: 18px;
  color: var(--dark-gray);
}

/* 內容 */
.main-body {
  padding: 36px 10px;
  margin: 0 auto;

}